<!-------------Navbar Start here------------->
<header class=site-header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark bg-steel fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTloxi"
                aria-controls="navbarTloxi" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Codeplus</a>
            <div class="collapse navbar-collapse" id="navbarTloxi">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link nav-item" href="">Home</a>
                    <a class="nav-link nav-item" href="">About</a>
                </div>
                <div class="d-flex navbar-nav">
                    <a class="nav-link nav-item" href="">Account details</a>
                    <a class="nav-link nav-item" href="">Logout</a>
                    <a class="nav-link nav-item" href="">Login</a>
                    <a class="nav-link nav-item" href="">Register</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-------------Navbar Ends here-->